#hr1{
  height:1px !important;
  border:none !important;
  color:#333 !important;
  background-color:#333 !important;
  width:350px !important;
  margin-top:-10px !important;
  display: block!important;
}
#h31{
  color:black;
  padding-bottom:-0px;
  margin-bottom:-20px;
}
